<div *ngIf="auth.user | async; then authenticated else guest">
  <!-- template will replace this div -->
</div>

<ng-template #authenticated>
  <div *ngIf="auth.user | async as user">

    <mat-card class="info-card">
      <mat-card-header>
        <!-- <div mat-card-avatar class="example-header-image"></div> -->
        <mat-card-title>{{user?.username}}</mat-card-title>
        <mat-card-subtitle>{{user?.email}} | {{user?.role}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="user?.photo">
      <mat-card-content>
        <p>
          Welcome to Hotel Transylvania!
        </p>
      </mat-card-content>
    </mat-card>

  </div>
</ng-template>

<ng-template #guest>
  <h3>Welcome to Hotel Transylvania!</h3>
  <p>Please login to get started</p>
</ng-template>