<body class="contact">
  <div class="contact-info">
    <div class="contact-form">
      <h2>Contact Us</h2>
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
        <input type="text" pInputText placeholder="Name">
      </div>

      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon"><i class="fa fa-phone"></i></span>
        <input type="text" pInputText placeholder="Phone Number">
      </div>

      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon"><i class="fa fa-envelope"></i></span>
        <input type="text" pInputText placeholder="Email">
      </div>

      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon"><i class="fa fa-comments"></i></span>
        <textarea rows="5" cols="30" pInputTextarea placeholder="Message"></textarea>
      </div>

      <div class="contact-btn">
        <button mat-raised-button>Send</button>
      </div>

    </div>

    <mat-card class="contact-card">
      <mat-card-header>
        <div mat-card-avatar><i class="fas fa-hotel"></i></div>
        <mat-card-title>About Us</mat-card-title>
        <mat-card-subtitle>The Transylvania</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          Admin:
          <br>
          Email:
          <br>
          Contact Number:
          <br>
          Address:
          <br>
        </p>
      </mat-card-content>
    </mat-card>
  </div>

</body>