<body class="contact">
  <h1>Contact Us</h1>

  <div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-md-6">
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
        <input type="text" pInputText placeholder="Name">
      </div>
    </div>

    <div class="ui-g-12 ui-md-6">
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon"><i class="fa fa-phone"></i></span>
        <input type="text" pInputText placeholder="Phone Number">
      </div>
    </div>
  </div>

  <div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-md-12">
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon"><i class="fa fa-envelope"></i></span>
        <input type="text" pInputText placeholder="Email">
      </div>
    </div>
  </div>

  <div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-md-12">
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon"><i class="fa fa-comments"></i></span>
        <textarea rows="5" cols="30" pInputTextarea placeholder="Message"></textarea>
      </div>
    </div>
  </div>

  <div class="contact-btn">
    <button mat-raised-button>Send</button>
  </div>
</body>