.home-container {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

:host >>> .ui-tabmenu .ui-tabmenu-nav {
  padding-left: 270px;
  padding-top: 40px;
}

:host >>> .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem {
  width: 180px;
}

.app-icon {
  width: 300px;
  text-align: center;
  float: left;
  padding-left: 0px;
}

.app-title {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  color: rgb(92, 92, 92);
  margin: 0;
  padding: 4px;
}

.navigation-bar {
  align-content: center;
  align-items: center;
}
.user-name {
  width: 230px;
  float: right;
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 60px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: black;
  color: white;
  height: 50px;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 12px;
}

/* nav bar active style */
:host >>> .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem.ui-state-active {
  background-color: gold;
  border: 1px solid black;
}

/* nav bar active font color */
:host
  >>> .ui-tabmenu
  .ui-tabmenu-nav
  .ui-tabmenuitem.ui-state-active
  .ui-menuitem-link
  .ui-menuitem-text {
  color: black;
}

/* nav bar active icon color */
:host
  >>> .ui-tabmenu
  .ui-tabmenu-nav
  .ui-tabmenuitem.ui-state-active
  .ui-menuitem-link
  .ui-menuitem-icon {
  color: black;
}

.help-btn {
  background-color: black;
  border: black;
  font-size: 11px;
}

.help-btn:hover {
  background-color: gold !important;
  border: gold !important;
  color: black !important;
}
