<div class="services-container">
  <b>Food & Beverage</b>
  <ul>
    <li>Café (Operating Hour: 8am until 10pm)</li>
    <li>Restaurant (Operating Hour: 8am until 10pm)</li>
    <li>Provide breakfast, lunch and dinner buffet</li>
  </ul>

  <b>Rooms</b>
  <ul>
    <li>24-hour Room Service</li>
    <li>Cleaning Service</li>
    <li>Laundry Service</li>
    <li>Check-In time (After 2pm) and Check-out (Before 12pm)</li>
  </ul>

  <b>Entertainment</b>
  <ul>
    <li>Pub (Operating Hour: 6pm until 2am)</li>
    <li>Swimming Pool (Operating Hour: 6am until 10pm)</li>
    <li>Fitness Center (Operating Hour: 6am until 10pm)</li>
    <li>24- Hour Spa</li>
    <li>24-Hour Free WIFI</li>
  </ul>

  <b>Others</b>
  <ul>
    <li>Ford Transit Car Rental Service</li>
    <li>Lap top & Computer Rental Service</li>
    <li>Conference Meeting & Private Dining Service</li>
    <li>Fax and Photocopying</li>
    <li>Parking services</li>
    <li>
      Luggage Service (allow to keep luggage without to carry luggage after or
      before check-in and check-out.)
    </li>
  </ul>
</div>
