.suites-sidenav-container {
  left: 50px;
  right: 50px;
  top: 200px;
  height: 480px;
  position: absolute;
}

.sidenav-content {
  display: flex;
  width: 200px;
  flex-direction: column;
  background: black;
}

.suites-sidenav {
  top: 200px;
  bottom: 50px;
}

:host >>> .mat-drawer {
  color: black;
}

:host >>> .mat-list-item-content {
  color: rgb(255, 255, 255);
}

:host >>> .mat-list-item-content:hover {
  color: rgb(0, 0, 0);
}

:host >>> .mat-nav-list .mat-list-item {
  background: linear-gradient(to left, rgb(0, 0, 0) 50%, gold 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease;
  height: 77px;
}

:host >>> .mat-nav-list .mat-list-item:hover {
  background-position: left bottom;
  color: black;
}

.suites-option {
  margin-left: 50px;
  margin-top: 25px;
  margin-right: 50px;
  width: 1000px;
  justify-content: space-between;
  display: flex;
}

.suites-search {
  margin-top: 10px;
}

:host >>> .booking-btn {
  background-color: black;
  border-color: black;
  margin-left: 150px;
}

.ui-button:enabled:hover {
  background-color: gold;
  border-color: black;
  color: black;
}

.ui-grid-col-6 {
  margin-left: 50px;
}

:host >>> .done-btn {
  background-color: black;
  border: 1px solid black;
  color: white;
}
