<div class="suites-option">
  <mat-form-field class="example-full-width">
    <input matInput [matDatepicker]="picker" placeholder="Check-in date" />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker touchUi #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput [matDatepicker]="picker2" placeholder="Check-out date" />
    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker touchUi #picker2></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Pax">
      <mat-option *ngFor="let Adults of totalPax" [value]="Adults.value">
        {{ Adults.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!--
    <mat-form-field>
      <mat-select placeholder="Childrens">
        <mat-option
          *ngFor="let Childrens of totalChildrens"
          [value]="Childrens.value"
        >
          {{ Childrens.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  -->

  <button mat-icon-button class="suites-search" (click)="filterRoom()">
    <mat-icon aria-label="Search">search</mat-icon>
  </button>
</div>

<div class="suites-sidenav">
  <mat-sidenav-container class="suites-sidenav-container">
    <mat-sidenav #sidenav mode="side" opened class="sidenav-content">
      <mat-nav-list>
        <a mat-list-item routerLink="suite-single">
          <mat-icon>person</mat-icon>&nbsp;&nbsp;Single
        </a>
        <a mat-list-item routerLink="suite-double">
          <mat-icon>people</mat-icon>&nbsp;&nbsp;Double
        </a>
        <a mat-list-item routerLink="suite-party">
          <mat-icon>cake</mat-icon>&nbsp;&nbsp;Party
        </a>
        <a mat-list-item routerLink="suite-deluxe">
          <mat-icon>star</mat-icon>&nbsp;&nbsp;Deluxe
        </a>
        <a mat-list-item routerLink="suite-family">
          <mat-icon>weekend</mat-icon>&nbsp;&nbsp;Family
        </a>
        <a mat-list-item routerLink="suite-straits">
          <mat-icon>beach_access</mat-icon>&nbsp;&nbsp;Straits
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content> <router-outlet></router-outlet> </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<p-dialog
  header="Available Room"
  [(visible)]="display"
  [modal]="true"
  [responsive]="true"
  [width]="840"
  [minWidth]="350"
  [minY]="70"
  [maximizable]="true"
  [baseZIndex]="10000"
  [height]="700"
>
  <p-carousel
    headerText="Please select a room"
    [value]="availableRoom"
    *ngIf="arr.length > 0; else: noData"
    numVisible="2"
  >
    <ng-template let-room pTemplate="item">
      <div class="ui-grid ui-grid-responsive">
        <div class="ui-grid-row">
          <div class="ui-grid-col-12">
            <img src="assets/images/suites/single1.jpg" width="400" />
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-6">Room Type</div>
          <div class="ui-grid-col-6">{{ room.Name }}</div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-6">Description</div>
          <div class="ui-grid-col-6">{{ room.Description }}</div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-6">Price</div>
          <div class="ui-grid-col-6">{{ room.Price }}</div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-12">
            <button
              type="button"
              pButton
              label="Book Now"
              (click)="booking(room.id)"
              class="booking-btn"
            ></button>
          </div>
        </div>
      </div>
    </ng-template>

    <!-- if no data, display this template -->
    <ng-template #noData>
      <hr />
      <h5>There are no rooms to display</h5>
    </ng-template>
  </p-carousel>

  <p-footer>
    <button
      type="button"
      pButton
      icon="pi pi-check"
      (click)="display = false"
      label="Done"
      class="done-btn"
    ></button>
    <!--
      <button
        type="button"
        pButton
        icon="pi pi-delete"
        (click)="display = false"
        label="Close"
        class="ui-button-secondary"
      ></button>
    -->
  </p-footer>
</p-dialog>
